   :root {
       --primary-text-color: #212121;
       --second-text-color: #757575;
       --accent-color: #2196F3;
       --background-colr: #2F303A;
       --second-background-colr: #F5F5F5;
       --third-background-colr: #F5F4FA;
       --footer-nav-color: rgba(255, 255, 255, 0.6);
       --hero-color: #FFFFFF;
       --logo-color: #000000;
   }

   body {
       background-color: var(--hero-color);
       color: var(--primary-text-color);
       font-family: Roboto, sans-serif;
       font-style: normal;
   }

   ul {
       list-style: none;
   }

   .logo {
       color: var(--logo-color);
       font-family: Raleway, cursive;
       font-style: normal;
       font-weight: 700;
       font-size: 26px;
       line-height: 1.2;
       letter-spacing: 0.03em;
       text-decoration: none;
   }

   .logo-span {
       color: var(--accent-color);
   }

   .site-nav .link {
       color: var(--primary-text-color);
       font-family: 'Roboto';
       font-weight: 500;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.02em;
       text-decoration: none;
   }

   .site-nav .link:hover,
   .site-nav .link:focus {
       color: var(--accent-color);
   }

   .site-nav .link.current {
       color: var(--accent-color);
   }

   .link {
       color: var(--second-text-color);
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 500;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.02em;
       text-decoration: none;
   }

   .link:hover,
   .link:focus {
       color: var(--accent-color);
   }

   .hero {
       background: var(--background-colr);
   }

   .hero-title {
       color: var(--hero-color);
       font-family: 'Roboto';
       font-weight: 900;
       font-size: 44px;
       line-height: 1.4;
       text-align: center;
       letter-spacing: 0.06em;
   }

   .button {
       color: var(--hero-color);
       background-color: var(--accent-color)
   }

   .section-title {
       color: var(--primary-text-color);
   }

   .feature-list .title {
       color: var(--primary-text-color);
       font-family: 'Roboto';
       font-weight: 700;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.03em
   }

   .feature-list .text {
       color: var(--second-text-color);
       font-family: 'Roboto';
       font-weight: 400;
       font-size: 14px;
       line-height: 2;
       letter-spacing: 0.03em;
   }

   .feature-list .worker {
       font-family: 'Roboto';
       font-weight: 500;
       font-size: 16px;
       line-height: 1.18;
       letter-spacing: 0.03em
   }

   .feature-list .job-title {
       font-family: 'Roboto';
       font-weight: 400;
       font-size: 16px;
       line-height: 1.18;
       letter-spacing: 0.03em;
   }

   footer {
       background-color: var(--background-colr);
   }

   .logo-second {
       color: var(--hero-color);
       font-family: Raleway, cursive;
       font-style: normal;
       font-weight: 700;
       font-size: 26px;
       line-height: 1.2;
       letter-spacing: 0.03em;
       text-decoration: none;
   }

   .local {
       color: var(--hero-color);
       font-family: 'Roboto';
       font-weight: 400;
       font-size: 14px;
       line-height: 1.71;
       letter-spacing: 0.03em;
   }

   .contact {
       color: var(--footer-nav-color);
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       font-size: 14px;
       line-height: 1.71;
       letter-spacing: 0.03em;
       text-decoration: none;
   }

   /* portfolio html */

   .portfolio-title {
       color: var(--primary-text-color);
       font-family: 'Roboto';
       font-weight: 700;
       font-size: 18px;
       line-height: 2;
       letter-spacing: 0.06em;

   }

   .portfolio-text {
       color: var(--second-text-color);
       font-family: 'Roboto';
       font-weight: 400;
       font-size: 16px;
       line-height: 1.88;
       letter-spacing: 0.03em;
   }

   .site-nav .button-pf {
       color: var(--primary-text-color);
       background-color: var(--third-background-colr);
       font-family: 'Roboto';
       font-weight: 500;
       font-size: 16px;
       line-height: 1.62;
       letter-spacing: 0.03em;
   }

   .site-nav .button-pf:hover,
   .site-nav .button-pf:focus {
       color: var(--hero-color);
       background-color: var(--accent-color);
   }